.containerCard {
  position: relative;
  width: 316px;
  background-color: #1b1b1b;
  height: 20vh;
  margin-right: 10px;
}



.containerCardInfo, .containerCardInfo2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.containerCardInfo {
  height: 20vh;
  z-index: 2;
}

.image { 
  width: 100%;
  height: 100%;
 
}
.containerCardInfo:hover { 
  opacity: 0;
}
.containerCardInfo:hover + .containerCardInfo2 { 
  opacity: 100;
  display: block;
  z-index: 999;
  transform: translateY(-60px);
  transform: scale(1); 
}


.containerCardInfo2 {
  z-index: 1;
  opacity: 0;
  transition: transform 0.4s;
  transform: scale(0); 
}


.imageInfo {
  width: 100%;
  height: 20vh;
}


.containerCard:hover .containerCardInfo {
  opacity: 0;
}


.containerCardInfo2:hover {
  display: block;
  opacity: 100;
  z-index: 99;
  transform: translateY(-60px);
}


.details { 
  height: 20vh;
  width: 100%;
  
}
.details img { 
  width: 100%;
  height: 100%;
}

.details2 { 
  height: 20vh;
  background-color: #353434;
  width: 100%;
}

.details2 span{ 
  padding-left: 10px;
}

.icons { 
  height: 31%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icons div { 
  margin-left: 10px;
  margin-right: 10px;
}


.date { 
  height: 23%;
  width: 100%;
  color: white;
}
.gender { 
  height: 23%;
  width: 100%;
  color: white;
}
.duration { 
  height: 23%;
  width: 100%;
  color: white;
}

.play { 
  background-color: aliceblue;
  border-radius: 50%;
  color: black;
  font-size: 23px;
  font-weight: bold;
  width: 11%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.more { 
  background-color: #353434;
  border-radius: 50%;
  color: white;
  border: 2px solid white;
  font-size: 18px;
  font-weight: bold;
  width: 11%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}