.containerAll { 
    width: 100%;
    background-color: #1b1b1b;   
    margin-bottom: 25px;
}

.containerTitle { 
    z-index: 0;
    font-size: 11px;
    color: white;
    width: 97%;
    margin: 0 auto;
}

.containerCards { 
    width: 97%;
    margin: 0 auto;
    height: 130px;
    display: flex;
}