.containerAll {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  height: 58px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.containerAllOpacity {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  height: 58px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.containerLogo {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogo img {
  height: 52px;
}

.containerInfo {
  width: 67%;
  display: flex;
  background-color: rgb(0, 162, 255);
  align-items: center;
}

.containerInfo span {
  color: rgb(255, 255, 255);
  filter: contrast(150%) saturate(150%);
  font-size: 16px;
  margin-right: 23px;
  cursor: pointer;
}

.containerInfo span:hover {
  text-shadow: 0 0 10px #b3aeae;
}

.containerUser {
  width: 20%;
  height: 170px;
  display: flex;
  flex-direction: column;
}

.arriba {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abajo {
  height: 112px;
  width: 210px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentes {
  height: 98px;
  width: 190px;
}
.userDiv {
  width: 13%;
  font-size: 20px;
  color: white;
}

.userDiv1 {
  display: flex;
  width: 13%;
  font-size: 20px;
  color: white;
}

.userDiv1 img {
  border-radius: 4px;
  height: 34px;
  width: 33px;
  cursor: pointer;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  font-size: 16px;
}

.arrow1 {
  padding-left: 5px;
  font-size: 16px;
}

.show {
  cursor: pointer;
}

.showOpen {
  cursor: pointer;
  transform: rotate(180deg);
}

.link {
  text-decoration: none;
}
.Browse {
  display: none;
  background-color: rgb(255, 0, 191);
}

.btnBrowse {
  display: none;
  margin-top: 15px;
  background-color: rgb(40, 85, 14);
}

.containerBrowse {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  background-color: rgb(183, 0, 255);
}

@media screen and (max-width: 928px) {
  .containerLogo img {
    height: 42px;
  }
}

@media screen and (max-width: 810px) {
  .containerInfo {
    width: 57%;
  }
  .containerUser {
    width: 30%;
  }
  .containerInfo span {
    font-size: 14px;
  }
}

@media screen and (max-width: 728px) {
  .containerLogo img {
    height: 38px;
  }
  .containerLogo {
    width: 21%;
  }
  .containerInfo {
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  .containerUser {
    width: 35%;
  }
  .span1 {
    display: none;
  }

  .Browse {
    display: flex;
    display: block;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    z-index: 22;
    margin-top: 20px;
  }
  .BrowseOpacity {
    display: flex;
    display: block;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 22;
    margin-top: 20px;
  }
  .btnBrowse {
    display: block;
  }
  .ar {
    display: block;
    position: absolute;
    bottom: 22px;
    left: 156px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transform: rotate(180deg);
    left: 29%;
  }
  .ar2 {
    display: block;
    position: absolute;
    bottom: 22px;
    left: 156px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    left: 29%;
  }
}

@media screen and (max-width: 468px) {
  .containerInfo {
    width: 34%;
  }
  .containerUser {
    width: 45%;
  }
  .contentes {
    padding-right: 18px;
  }

  .Browse {
    margin-top: 20px;
  }
  .Browse p {
    padding-left: 8px;
  }
}
