.containerAll { 
    background-color: rgba(0, 0, 0, 0.9);   
    display: flex;
    height: 58px;
    width: 100%;
    position: fixed;
}

.containerLogo { 
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInfo {   
    width: 67%;
    display: flex;
    align-items: center;
}

.containerInfo span { 
    color: rgb(255, 255, 255);
    filter: contrast(150%) saturate(150%);
    font-size: 16px;
    margin-right: 23px;
    cursor: pointer;
}


.containerUser {
    width: 20%;
    height: 170px;
    display: flex;
    flex-direction: column;
}

.arriba { 
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abajo { 
    height: 112px;
    width: 210px;
    display: flex;
    justify-content:end;
    align-items: center;
}

.contentes { 
    height: 98px;
    width: 190px;
}
.userDiv { 
    width: 13%;
    font-size: 20px;
    color: white;
}


.userDiv1 {
    display: flex;
    width: 13%;
    font-size: 20px;
    color: white;
}

.userDiv1 img { 
    border-radius: 4px;
    height: 34px;
    width: 33px;
    cursor: pointer;
}

.arrow { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 16px;
}


.arrow1 { 
    padding-left: 5px;
    font-size: 16px;
    background-color: yellow;
}

.show {
    cursor: pointer; 
}

.showOpen { 
    cursor: pointer; 
    transform: rotate(180deg)
}

/* .containerUser {
    width: 20%;
    height: 170px;
    background-color: rgb(80, 80, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDiv { 
    width: 13%;
    font-size: 20px;
    color: white;
}

.userDiv1 {
    display: flex;
    width: 13%;
    font-size: 20px;
    color: white;
}

.userDiv1 img { 
    border-radius: 4px;
    height: 34px;
    width: 33px;
    cursor: pointer;
}

.arrow { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 16px;
}


.arrow1 { 
    padding-left: 5px;
    font-size: 16px;
    background-color: yellow;
} */