 .containerAll {
    width: 100%;
    display: flex;
    background-color: #1b1b1b;
}
.containerNavbar { 
    background-color:  #1b1b1b;;
    width: 5%;
    height:191vh;
    box-shadow: 0px -5px 11px rgb(5, 5, 5);
    z-index: 999;
}

.containerLeft { 
    width: 25%;
    z-index: 100;
    height:191vh;
    box-shadow: 23px 0px 10px -20px rgb(0, 0, 0);
}

.containerInput {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInput input { 
    width: 92%;
    background-color:  #1b1b1b;
    height: 38px;
    border: 1px solid grey;
    color: rgb(206, 204, 204);
    font-size: 19px;
    padding-left: 10px;
}
.containerBtn { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerBtn button { 
    width: 88%;
    color: rgb(158, 152, 152);
    background-color:  #1b1b1b;
    height: 34px;
    font-size: 20px;
    border-radius: 2px;
    border: 2.5px solid #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7px;
    cursor: pointer;
}

.containerBtn button:hover { 
    border: 2.5px solid white;
    width: 98%;
}

.containerBtn button:active { 
    border: 2.5px solid white;
    width: 99%;

}
.containerRight { 
    background-color: #1b1b1b;
    color: white;
    width: 70%;
    box-shadow: 0px 30px 30px rgb(0, 0, 0);
}

.containerRight h1 { 
   padding-left: 30px;
}
.containerRight img { 
    margin: 5px;
    filter: brightness(110%);
    
}

.movieContainer {
    margin: 0 auto;
    padding-left: 30px;
    min-height: 100vh;
    background-color: #1b1b1b;
    box-shadow: 0px 50px 50px  #1b1b1b;
    color: #c22929;
}

.center { 
    background-color: #1b1b1b;
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #1b1b1b;
    border-top-color: #bd0c0c;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  

  .containerIcons { 
    background-color: #1b1b1b;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 25px;
    margin-top: 300px;
    padding-left:5px ;
  }

  .imgBackground { 
    width:200px;
    height:350px;
    cursor: pointer;
    border: 1px solid #1b1b1b;
  }

  .imgBackground:hover { 
    border: 1px solid rgb(131, 128, 128);
  }
  .icon {
     margin-top: 7px;
    border-bottom: 4px solid #1b1b1b;
    padding-bottom: 5px;
}

.icon:hover { 
    border-bottom: 4px solid red;
    cursor: pointer;
    padding-bottom: 5px;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  

  @media screen and (max-width: 1268px) {
    .movieContainer {
        display: flex;
        justify-content: center;
    }
    .imageContainer {
        width: 710px;
    }
}  

@media screen and (max-width: 960px) {
    .movieContainer {
        display: flex;
        justify-content: center;
        padding-left: 2px;
    }
    .imageContainer {
        width: 100%;
        width: 880px;   
    }
    .containerLeft {
        width: 35%;
        width: 100%;
        height: max-content;
        
    }
    .containerNavbar {
        height: 45px;
        width: 100%;
        z-index: 1;
        padding-left:5px ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #141414;
    }
    .containerIcons {
        margin-top: 0px;
        display: flex;
        width: 150px;
        height: 45px;
        z-index: 1;
        font-size: 22px;
        flex-direction: row;
        background-color: #141414;
    }
    .containerIcons > * {
        margin-right: 14px; 
      }
    .containerRight {
        width: 60%;
        width: 100%;
    }
    .containerAll {
        display: flex;
        flex-direction: column;
    }
    .icon {
        border-bottom: 4px solid #141414;
    }
    .containerBtn button {
        padding-left: 25px;
     }
}  

@media screen and (max-width: 860px) { 
    .imageContainer {
        width: 680px;   
    }
  
}

@media screen and (max-width: 640px) { 
    .imageContainer {
        width: 460px;   
    }
  
}


@media screen and (max-width: 480px) { 
    .imgBackground {
        width: 180px;
    }
    .movieContainer {
        padding-left: 1px;
    }
    .imageContainer{ 
        width: 405px;
    }
}